*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

main{
    padding-top: 50px;
}

.orange{
    background-color: #FF6900;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 11px -2px rgb(0 0 0 / 90%);
    top:0;
    left:0;
    z-index: 9;
}

.fixed-bar{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0px auto;
    align-items: center;
    height: 50px;
}

.fixed-bar a{
    text-decoration: none;
    color: white;
    padding: 0px 5px;
    font-size: 12px;
}

.fixed-bar ul{
    list-style: none;
    display: flex;
}

.logo img {
    width: 100px;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    margin: auto;
    justify-content: space-between;
}

.tag-1, .tag-2, .tag-3, .tag-4, .tag-5, .tag-6 {
    width: calc(100% / 3 - 10px);
    padding: 50px 5px;
    position: relative;
}

section img{
    width: 100%;
}

.disocunt-prize {
    font-size: 12px;
    color: red;
}

.full-prize {
    font-size: 12px;
    text-decoration: line-through;
}

.tag{
    color: white;
    padding: 3px 6px;
    font-size: 12px;
    position: absolute;
}

.sale{
    background-color: red;
    top: 70%;
}

.tag-1 .green, .tag-4 .green{
    background-color: #008000;
    top: 70%;
    left: 13%;
}

.tag-6 .green{
    background-color: #008000;
    top: 70%;
}

.heart {
    background-color: white;
    position: absolute;
    top: 8%;
    left: 89%;
    font-size: 30px;
    padding: 5px 10px;
}

.img-hover{
    display: none;
}

.change-hover:hover .img-hover{
    display: block;
}

.change-hover:hover .img-frontal{
    display: none;
}

.heart:hover{
    color: red;
}

footer{
    background-color: #1a1a1a;
    color: white;
}

.flex{
    display: flex;
    max-width: 1170px;
    justify-content: space-between;
    margin: auto;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 0px 10px 15px 0px;
    display: inline-block;
}

footer h2 {
    padding: 20px 0px;
}

footer span {
    padding: 20px 0px;
    display: block;
}

.icon {
    font-size: 1.3em;
}


